/* Global styles */
body {
	font-family: sans-serif;
	color: #CCC;
	background: url( 'background.svg' );
}
h1,h2,h3,h4,h5,h6 {
	font-family: Lobster, serif;
	font-weight: normal;
	text-shadow: 0 1px 0 #000;
}
a {
	color: #89C;
	text-decoration: none;
	border-bottom: 1px solid #666;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
a:visited {
	color: #A7A;
}
a:hover {
	color: #B66;
	border-color: #B66;
}
/* Forms */
input, button, textarea {
	border: 1px solid #CCC;
	font-size: 16px;
	border-radius: 3px;
	padding: 8px;
	color: #444;
}
input[type="submit"],
input[type="cancel"],
input[type="button"],
button {
	padding: 8px 16px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFF;
	background: #DDD;
	background-image: -webkit-linear-gradient( #FFF, #BBB );
	background-image: -moz-linear-gradient( #FFF, #BBB );
	background-image: -ms-linear-gradient( #FFF, #BBB );
	background-image: -o-linear-gradient( #FFF, #BBB );
	background-image: linear-gradient( #FFF, #BBB );
}
input[type="submit"]:hover,
input[type="cancel"]:hover,
input[type="button"]:hover,
button:hover {
	background-image: none;
}
input[type="submit"]:active,
input[type="cancel"]:active,
input[type="button"]:active,
button:active {
	background-image: none;
	box-shadow: inset 0 0 10px #666;
}

/* Whole Page */
#page {
	padding: 4%;
	margin: 4%;
	background: #000;
	background: rgba( 0, 0, 0, 0.7 );
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow: hidden;
}

/* Header */
#skip-link a {
	background: #222;
	padding: 10px;
}
#home-link {
	border: none;
	float: left;
	margin-bottom: 16px;
}
#site-name {
	color: #CCC;
	font-size: 35px;
	font-size: 2.5rem;
	font-family: Lobster, serif;
	text-shadow: 0 1px 0 #000;
	font-weight: normal;
}
#site-slogan {
	color: #999;
	text-shadow: 0 1px 0 #000;
}
.region-header {
	float: right;
}

/* Menu */
#navigation ul {
	list-style-type: none;
	border-bottom: 1px solid #666;
	overflow: hidden;
	padding: 0;
	clear: both;
}
#navigation li a {
	color: #FFF;
	float: left;
	display: block;
	border-bottom: 4px solid rgba( 0, 0, 0, 0 );
	padding: 8px 16px;
}
#navigation li a.active,
#navigation li a:hover {
	color: #89C;
	border-bottom: 4px solid #89C;
}

/* Sidebar */
.sidebar {
	width: 30%;
	float: left;
}
#sidebar-first {
	padding-right: 5%;
}
.one-sidebar #main-content {
	width: 60%;
	padding-right: 5%;
	float: left;
}
.two-sidebars .sidebar {
	width: 20%;
}
.two-sidebars #main-content {
	width: 55%;
	padding-right: 5%;
	float: left;
}

/* Footer */
#page-footer {
	clear: both;
	border-top: 1px solid #666;
}
